*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
app/release
app/debug
keystore.properties
keystore.jks
webauthndemo_release_key.jks
.gitmodules
webauthn-kotlin
